-
  const data = [
    { 
    pictureAuthor: 'Марсель Руссо',
    pictureName: 'Охота Амура',
    about: 'Холст, масло (50х80) ',
    price: '14 500 руб',
    pathToImg: 'img/frenchPaintings/amour`s hunt.jpg',
    },
    {
    pictureAuthor: 'Анри Селин',
    pictureName: 'Дама с собачкой',
    about: 'Акрил, бумага (50х80) ',
    price: '16 500 руб',
    pathToImg: 'img/frenchPaintings/lady with a dog.jpg',
    },
    {
    pictureAuthor: 'Франсуа Дюпон',
    pictureName: 'Процедура',
    about: 'Цветная литография (40х60)',
    price: '20 000 руб',
    pathToImg: 'img/frenchPaintings/procedure.jpg',
    },
    {
    pictureAuthor: 'Луи Детуш',
    pictureName: 'Роза',
    about: 'Бумага, акрил (50х80)',
    price: '12 000 руб',
    pathToImg: 'img/frenchPaintings/rose.jpg',
    },
    {
    pictureAuthor: 'Франсуа Дюпон',
    pictureName: 'Птичья трапеза',
    about: 'Цветная литография (40х60)',
    price: '22 500 руб',
    pathToImg: 'img/frenchPaintings/bird`s meal.jpg',
    },
    {
    pictureAuthor: 'Пьер Моранж',
    pictureName: 'Пейзаж с рыбой',
    about: 'Цветная литография (40х60)',
    price: '20 000 руб',
    pathToImg: 'img/frenchPaintings/landscape with a fish.jpg',
    },
  ];

mixin card(cardData)
  div(class="card")
    img(class="card__img" src=`${cardData.pathToImg}` alt='Painting image')
    div(class="card__text")
      p(class="card__text-author")= cardData.pictureAuthor
      p(class="card__text-name")= cardData.pictureName
      p(class="card__text-description")= cardData.about
      p(class="card__text-price")= cardData.price
    button(class="card__button") В корзину

each cardData in data
  +card(cardData)

